    add_field =>  [ [% FOREACH v IN desc.add_field.pairs %]
        "[% v.key %]",  "[% v.value %]",
    [% END %] ]
    [% END %]
    [% IF desc.format %]
        format => "[% desc.format %]"
    [% END %]
    name => "[% desc.name %]"
    [% IF desc.tags %]
    tags => [ [% FOREACH t IN desc.tags %] "[%t%]", [% END %] ]
    type => "[% desc.type %]"
    [% IF desc.debug %]
    debug => true
    [% ELSE %]
    debug => false
    [% END %]