[%- FOREACH v IN desc.add_field.pairs -%]
add_field => ["[% v.key %]",  "[% v.value -%]"]
[% END %]
[% IF desc.format.exists %]
format => "[% desc.format %]"
[% END -%]
[%- IF desc.tags.exists -%]
tags => [ [% FOREACH t IN desc.tags %] "[%t%]", [% END %] ]
[% END -%]
type => "[% desc.type %]"
debug => [% desc.debug ? "true" : "false" %]