syslog {
[% FILTER indent -%]
[%-  INCLUDE metaconfig/logstash/input/base.tt -%]
charset => "[% desc.charset %]"
port => [% desc.port %]
[%    IF desc.severity_labels %]
severity_labels => [ [% FOREACH l IN desc.severity_labels %] "[% l %]", [% END %] ]
[%    END %]
use_labels => [% IF desc.use_labels %] true [% ELSE %] false [% END %]
[%- END %]
}
