[% booleans = ['hwtable_regex_match', queue_without_daemon, 'user_friendly_names',
               'find_multipaths', 'detect_prio', 'retain_attached_hw_handler',
               'fast_io_fail_tmo', 'flush_on_last_del']
%]
[%- key -%]
[%-   SWITCH key -%]
[%-     CASE ['path_selector', 'features'] -%]
 [% value.join(' ') %]
[%-     CASE booleans -%]
 [%       INCLUDE metaconfig/generic/yes_no_boolean.tt -%]
[%-     CASE -%]
 [% value -%]
[%-   END -%]
