[%- FOREACH section IN ['input', 'filter', 'output'] -%]
[%      IF ${section}.defined %]
[%          section %] {
[%          INCLUDE "metaconfig/logstash/section.tt" desc=$section section=section FILTER indent %]
}
[%      END %]
[%  END %]
