[%- IF desc.exists('order') -%]
Order [% desc.order.join(',') %]
[% END -%]
[% FOREACH a IN desc.allow -%]
Allow from [% a %]
[% END -%]
[%- FOREACH d IN desc.deny -%]
Deny from [% d %]
[% END -%]
[%- IF desc.exists('AllowOverride') -%]
AllowOverride [% desc.AllowOverride.join(' ') %]
[% END -%]
[%- IF desc.exists('Satisfy') %]
Satisfy [% desc.Satisfy %]
[% END -%]
