[%- FOR pair IN desc.pairs -%]
[%      SWITCH pair.key %]
[%-         CASE 'Require' %]
Require [% pair.value.Type -%] [% pair.value.who.join(' ') %]
[%-         CASE 'Name' %]
Auth[% pair.key %] "[% pair.value %]"
[%-         CASE %]
Auth[% pair.key %] [% pair.value %]
[%-     END %]
[%- END %]
