[%- IF desc.exists('Set') -%]
SetHandler [% desc.Set %]
[% END -%]
[%- IF desc.exists('Add') -%]
[%-     FOREACH h IN desc.Add -%]
AddHandler [% h.name %] [% h.target.join(' ') %]
[%      END -%]
[%- END -%]
