[%- IF desc.exists('ifmodules') -%]
[%-     FOREACH ifmodnd IN desc.ifmodules -%]
<IfModule [% ifmodnd.name %]>
[%                  INCLUDE metaconfig/httpd/config/ifmodule_norecursion.tt descnd=ifmodnd FILTER indent %]
</IfModule>
[%      END -%]
[%- END -%]
[%-  INCLUDE metaconfig/httpd/config/ifmodule_norecursion.tt descnd=desc FILTER indent -%]
