[%- booleans = ["MethodNegotiate", "K5Passwd"] -%]
[%- lists = ["AuthRealms"] -%]
[%- krb5 = ["Keytab"] -%]
[%- FOREACH pair IN desc.pairs -%]
[%-     SWITCH pair.key -%]
[%          CASE krb5 %]
Krb5[% pair.key -%] [% pair.value -%]
[%-         CASE lists -%]
Krb[% pair.key -%] [% pair.value.join(" ") -%]
[%-         CASE booleans -%]
Krb[% pair.key -%] [% pair.value ? 'On' : 'Off' -%]
[%-         CASE -%]
Krb[% pair.key -%] [% pair.value -%]
[%-      END %]
[% END -%]
