[%- IF desc.exists('Default') -%]
DefaultLanguage [% desc.Default %]
[% END -%]
[%- IF desc.exists('Add') -%]
[%-     FOREACH l IN desc.Add -%]
AddLanguage [% l.lang %] [% l.names.join(' ') %]
[%      END -%]
[%- END -%]
[%- IF desc.exists('Priority') -%]
LanguagePriority [% desc.Priority.join(' ') %]
[% END -%]
[%- IF desc.exists('ForcePriority') -%]
ForceLanguagePriority [% desc.ForcePriority.join(' ') %]
[% END -%]
