[%- list = ['Options', 'Switches'] -%]
[%- FOREACH pair IN desc.pairs %]
[%-     SWITCH pair.key -%]
[%-         CASE 'modules -%]
[% FOREACH m IN desc.modules %]
PerlModule [% m %]
[% END %]
[%-         CASE list -%]
Perl[% pair.key -%] [% pair.value.join(" ") %]
[%-         CASE -%]
Perl[% pair.key -%] [% pair.value %]
[%      END -%]
[%- END -%]
