[%- booleans = ["UseHeaders"] -%]
[%- lists = ["RequestSetting"] -%]
[%- FOREACH pair IN desc.pairs -%]
[%-     SWITCH pair.key -%]
[%-         CASE lists -%]
Shib[% pair.key -%] [% pair.value.join(" ") -%]
[%-         CASE booleans -%]
Shib[% pair.key -%] [% pair.value ? 'On' : 'Off' -%]
[%-         CASE -%]
Shib[% pair.key -%] [% pair.value -%]
[%-      END %]
[% END -%]
