[%- IF desc.exists('Default') -%]
DefaultType [% desc.Default %]
[% END -%]
[%- IF desc.exists('Config') -%]
TypesConfig [% desc.Config %]
[% END -%]
[%- IF desc.exists('Add') -%]
[%-     FOREACH h IN desc.Add -%]
AddType [% h.name %] [% h.target.join(' ') %]
[%      END -%]
[%-      END -%]
