[%# These are plugin properties that are assumed to be the same for ALL plugins in this section.
    If this is no longer the case, move them to the appropriate plugins. -%]
[%- global.section.boolean = ['negate', 'drop'] -%]
[%- global.section.stringarray = ['add_tag', 'remove_tag', 'remove_field'] -%]
[%- global.section.multilinestringhash = ['add_field'] -%]
