grep {
[% FILTER indent -%]
[%-  INCLUDE metaconfig/logstash/filters/basic.tt -%]
negate =>[% desc.negate ? "true" : "false" %]
drop => [% desc.drop ? "true" : "false" %]
[%  FOREACH m IN desc.match -%]
match => [ "[% m.field %]", "[% m.pattern %]" ]
[%  END -%]
[%- FOREACH e IN desc.excludetags %]
exclude_tags => "[% e %]"
[%  END %]
remove_tag => "[% t %]"
[% END -%]
}
