<directory [% desc.name %]>

[%- IF desc.exists('ssl') -%]
[% INCLUDE metaconfig/httpd/ssl.tt desc=desc.ssl FILTER indent%]
[%- END -%]

[% INCLUDE metaconfig/httpd/file_basic.tt FILTER indent %]

[%- IF desc.exists('rewrite') -%]
[% INCLUDE metaconfig/httpd/rewrite.tt FILTER indent%]
[%- END -%]

</directory>
