[%- IF desc.exists('options') -%]
options [% desc.options.join(' ') %]
[%- END -%]

[%- IF desc.exists('access') -%]
order [% desc.access.order %]
[% FOREACH a IN desc.access.allow %]
allow from [% a %]
[% END %]
[% FOREACH d IN desc.access.deny %]
deny from [% d %]
[% END %]
[% END %]
