[% INCLUDE metaconfig/httpd/config/system.tt %]
[% IF NameVirtualHost.defined %]
NameVirtualHost [% NameVirtualHost.ip -%][%- NameVirtualHost.exists('port') ? ':' : '' -%][% NameVirtualHost.port %]
[%- END %]
[% FOREACH v IN vhosts.pairs %]
<VirtualHost
[%-    FOREACH ip IN v.value.ip -%]
[%-         FILTER indent -%]
[%             ip %]:[% v.value.port %]
[%-         END -%]
[%-    END -%]
>
[% INCLUDE metaconfig/httpd/config/vhost.tt vhost=v.value FILTER indent %]
</VirtualHost>
[% END %]
