[% INCLUDE metaconfig/httpd/config/system.tt %]

[% FOREACH v IN vhosts.pairs %]
<virtualhost
[%-    FOREACH ip IN v.value.ip -%]
[%-         FILTER indent -%]
[%             ip %]:[% v.value.port %]
[%-         END -%]
[%-    END -%]
>
[% INCLUDE metaconfig/httpd/config/vhost.tt vhost=v.value FILTER indent %]
</virtualhost>
[% END %]
