[%- IF desc.exists('Error') -%]
ErrorLog [% desc.Error %]
[%- END -%]
[%- IF desc.exists('Level') -%]
LogLevel [% desc.Level %]
[%- END -%]
[%- IF desc.exists('Format') -%]
[%-     FOREACH format in desc.Format.pairs -%]
LogFormat "[% format.value %]" [% format.key %]
[%     END -%]
[%- END -%]
[%- IF desc.exists('Custom') -%]
[%-     FOREACH custom in desc.Custom -%]
CustomLog [% custom.location %] [% custom.format %]
[%     END -%]
[%- END -%]
