[% IF desc.requiressl %]
SSLRequireSSL
[% END %]
SSLEngine [% desc.active ? "on" : "off" %]
SSLCipherSuite [% desc.ciphersuite.join("!") %]
[% IF desc.exists('verify_client') %]
SSLVerifyClient [% desc.veryfy_client %]
[% END %]
SSLCertificateFile [% desc.certificate %]
SSLCertificateKeyFile [% desc.key %]
SSLCACertificateFile [% desc.ca %]
[% IF desc.exists('options') %]
SSLOptions [% desc.options.join(' ') %]
[% END %]
[% IF desc.exists('require') %]
SSLRequire [% desc.require %]
[% END %]