[%- FOREACH base IN ['hash', 'relay', 'overflow'] -%]
[%-     FOREACH pair IN ${base}.pairs %]
[%          base %].[% pair.key %]:
[%-         IF base == 'relay' and pair.key == 'backends' -%]
 [% pair.value.join(" \\\n    ") %]
[%-         ELSE -%]
 [%              pair.value %]
[%-         END %]
[%-     END -%]
[%- END %]
