[%- FOREACH plugin IN desc -%]
[%- # there should be only one plugin
        FOREACH p IN plugin.pairs -%]
[%          p.key %] {
[%          INCLUDE "metaconfig/logstash/plugin.tt" desc=p.value section=section plugin=p.key FILTER indent %]
}
[%     END -%]
[%- END -%]
