type => "[% desc.type %]"
[% IF desc.add_field.exists %]
    [% FOREACH f IN desc.add_field.pairs %]
    add_field => [ "[% f.key %]", "[% f.value %]" ]
    [% END %]
[% END %]
[% IF desc.tags.exists %]
    [% FOREACH t IN desc.tags %]
    tags => "[% t %]
    [% END %]
[% END %]