[% FOREACH name IN ['traphandle'] -%]
[%-  FOREACH n IN $name -%]
[%      name %] [% n %]
[%  END -%]
[%- END -%]
[%- FOREACH pair IN main.pairs -%]
[%- SWITCH pair.key -%]
[%-  CASE -%]
[% pair.key %] [% pair.value %]
[% END -%]
[%- END %]
