tcp {
[% FILTER indent -%]
[%-    INCLUDE metaconfig/logstash/legacy_format11/input/base.tt -%]
port => [% desc.port %]
[%-    IF desc.exists('host') -%]
host => "[% desc.host %]"
[%     END -%]
[%- END %]
}
