[% FOREACH name IN ['traphandle'] -%]
[%-  FOREACH n IN $name -%]
[%      name %] [% n %]
[%  END -%]
[%- END -%]
[%- FOREACH main -%]
[%- SWITCH key -%]
[%-  CASE -%]
[% key %] [% value %]
[% END -%]
[%- END %]
