[% FOREACH name IN ['mibs','mibdirs'] -%]
[%-  IF ($name.size) -%]
[%-      prefixname = "${name}prefix" -%]
[%      name %] [% $prefixname %][% $name.join(':') %]
[%  END -%]
[%- END -%]
[% FOREACH pair IN main.pairs -%]
[%-  SWITCH pair.key -%]
[%-      CASE -%]
[%          pair.key %] [% pair.value %]
[%  END -%]
[%- END %]
