[% FOREACH name IN ['mibs','mibdirs'] -%]
[%-  IF ($name.size) -%]
[%-      prefixname = "${name}prefix" -%]
[%      name %] [% $prefixname %][% $name.join(':') %]
[%  END -%]
[%- END -%]
[% FOREACH main -%]
[%-  SWITCH key -%]
[%-      CASE -%]
[%          key %] [% value %]
[%  END -%]
[%- END %]
